<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        verbose="true">
  <testsuites>
    <testsuite name="Xid Test Suite">
        <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-text" target="php://stdout"/>
  </logging>

  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
        <exclude>
          <directory>./vendor</directory>
          <directory>./tests</directory>
        </exclude>
    </whitelist>
  </filter>
</phpunit>
